{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create subscription</legend>
            <div class="form-group">
                {{ form.ticketing_method.label(class="form-control-label") }}
                {% if form.ticketing_method.errors %}
                    {{ form.ticketing_method(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.ticketing_method.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.ticketing_method(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.ticketing_address.label(class="form-control-label") }}
                {% if form.ticketing_address.errors %}
                    {{ form.ticketing_address(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.ticketing_address.errors %}
                            <span>{{    error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.ticketing_address(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.tracked_resource.label(class="form-control-label") }}
                {% if form.tracked_resource.errors %}
                    {{ form.tracked_resource(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.tracked_resource.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.tracked_resource(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.tracked_resource_type.label(class="form-control-label") }}
                {% if form.tracked_resource_type.errors %}
                    {{ form.tracked_resource_type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.tracked_resource_type.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.tracked_resource_type(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

{% endblock content%}