{% extends "layout.html" %}
{% block content %}
    {% for event in events %}
        <article class="media content-section">
          <div class="media-body">
            {% if event['eventData']["source.ip"] %}
            <h2><a class="event-ip" href="{{ url_for('intell.getEvent', eventId = event['eventId']) }}">{{ event['eventData']['source.ip'] }}</a></h2>
            {% elif event['eventData']["source.network"] %}
            <h2><a class="event-ip" href="{{ url_for('intell.getEvent', eventId = event['eventId']) }}">{{ event['eventData']['source.network'] }}</a></h2>
            {%else%}
            <h2><a class="event-ip" href="{{ url_for('intell.getEvent', eventId = event['eventId']) }}"> {{ event['eventData']['source.fqdn'] }} </a></h2>
            {% endif %}
            <p class="article-content">{{ event['eventData']["feed.provider"] }}</p>
          </div>
        </article>
    {% endfor %}

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="{{ url_for('intell.getFilteredEvents', page=5,**tags)}}" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
{% endblock content %}