{% extends "layout.html" %}
{% block content %}
    {% for event in events %}
        <article class="media content-section">
          <div class="media-body">
            {% if event["source.ip"] %}
            <h2><a class="event-ip" href="#">{{ event["source.ip"] }}</a></h2>
            {% else %}
            <h2><a class="event-ip" href="#">{{ event["source.network"] }}</a></h2>
            {% endif %}
            <p class="article-content">{{ event["feed.provider"] }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}