{% extends "layout.html" %}
{% block content %}



<article class="conteiner content-section justify-content-center " >
  <a   href="{{ url_for('subscriptions.create_subscription') }}">
    Create subscription
</a>
</article>

{% for subscription in subscriptions %}

<article class="row content-section">
  {% if not subscription.is_verified %}
    <div class="alert alert-danger">
        Not is_verified.
    </div>
  {% endif %}
  <div class = 'col'>
    <h3><em class="text-muted h3 small">Type:</em> {{ subscription.tracked_resource_type }}</h3>

    <h3><em class="text-muted h3 small">Tracking:</em> {{ subscription.tracked_resource }}</h3>
  </div>
  <div class="col d-inline-block text-truncate "  >
    <h3><em class="text-muted h3 small">Method:</em> {{ subscription.ticketing_method }}</h3>
    <h3><em class="text-muted h3 small text-truncate">Address:</em> {{ subscription.ticketing_address }}</h3>
</article>
{% endfor %}
{% endblock content%}