{% extends "layout.html" %}
{% block content %}



<article class="media content-section justify-content-center " >
  <a   href="{{ url_for('subscriptions.create_subscription') }}">
    Create subscription
</a>
</article>

{% for subscription in subscriptions %}
<article class="media content-section">
  <div class="media-body">
    <h2>id: {{ subscription.Id }}</h2>
    <h2>username: {{ subscription.user.username }}</h2>
    <h2>type: {{ subscription.trackedResourceType }}</h2>
    <h2>Tracked: {{ subscription.trackedResource }}</h2>
    <h2>Method: {{ subscription.ticketingMethod }}</h2>
    <h2>Address: {{ subscription.ticketingAddress }}</h2>
  </div>
</article>
{% endfor %}
{% endblock content%}